@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("photo2.jpg") no-repeat center fixed;
    background-size: cover;
    background-position: center;
}
.logo{
    width:500px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 50px;
}
.wrapper{
    width: 420px;
    background: transparent;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    height: 100px;
}

.wrapper .input-box{
    width: 100%;
    height: 30px;
    margin: 50px 0;
    text-align: center;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    color:#fff;
    padding: 20px 40px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%);
    font-size: 20px;
}
.wrapper .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 14.5px;
    margin: -5px 0 30px;
}

.select-btn{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 5px 10px rgb(255, 255, 255);
}
.select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
}
.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    border-radius: 50%;
    background: transparent;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #604f4f00;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: rgb(0, 89, 255);
    border-color: #ffffff;
}
.checkbox .check-icon{
    color: white;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
}

.checkbox label input{
    accent-color: #fff;
    margin-right: 3px;
}

.checkbox a{
    color: transparent;
    text-decoration: none;
}

.checkbox a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .reset{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    background: #001a69;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}
